<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Tweetone</title>
    <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons' rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/vuetify/0.16.9/vuetify.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div id="app">
        <v-list>
            <v-list-tile v-for="t in text">
                <v-list-tile-content>
                    <v-list-tile-title v-html="t"></v-list-tile-title>
                </v-list-tile-content>
            </v-list-tile>
        </v-list>
        <v-list two-line>
            <v-list-tile v-for="tone in tones">
                <v-list-tile-content>
                    <v-list-tile-title v-html="tone.tone_name"></v-list-tile-title>
                    <v-list-tile-sub-title v-html="tone.score"></v-list-tile-sub-title>
                </v-list-tile-content>
            </v-list-tile>
        </v-list>
    </div>
</body>

<script src="https://cdnjs.cloudflare.com/ajax/libs/js-sha1/0.5.0/sha1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/rxjs/5.5.2/Rx.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.3/vue.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vuetify/0.16.9/vuetify.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue-resource@1.3.4"></script>
<script src="app.js"></script>
</html>